<% include header %>
<div class="container" id="signup">



</div>

<script src="./libs/jquery/jquery.min.js"></script>
<script src="./libs/bootstrap/js/bootstrap.min.js"></script>
<% include footer %>